img{
  border-radius: 100%;
  width: 300px;
  height:auto;
}

.jumbotron{
  text-align: center;
  background: transparent;
}

.date{
  float: right;
  color: red;
}

#experience{
  padding-bottom: 20px;
}

#travel{
  padding-top: 100px;
}

body{
  background-image: linear-gradient(#c2f4f9,#fcfcb2,#fccab3,#ffcede,#efceff);
  font-weight: bold;
  font-size: 18px;
  font-family: 'Cutive Mono', monospace;
}

#me{
  text-align: center;
  background-image: repeating-linear-gradient(to right,#fffbe0,#e0ffe6);
}

.panel-body{
  background-image: repeating-radial-gradient(#ffe2e2,#e5ffe2);
}

#ed{
background-image: repeating-linear-gradient(to right,#f6ffcc,#e0faff);
}

.nav{
  text-align: center;
}

@media screen and (max-width: 998px) and (min-width: 320px){
  #travel{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
