img{
  border-radius: 100%;
  width: 300px;
  height:auto;
}

.jumbotron{
  text-align: center;
  background: transparent;
}

.date{
  float: right;
  color: red;
}

#experience{
  padding-bottom: 20px;
}
